<app-sidebar></app-sidebar>
<div class="container">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Save Me Money Please</h6>
    </div>
  </div>

  <div class="col-sm-12 col-sm-offset-4 col-lg-12  col-lg-offset-4">
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="list-group">
          <h4 class="list-group-header">
            Habitación
          </h4>
          <div class="list-group-item">
            Nombre:<br>
            <div class="input">
              <input type="text" value="" class="form-control">
            </div><br>
            Edificio:<br>
            <div class="input">
              <input type="text" value="" class="form-control">
            </div><br>
            <a href="#" class="btn btn-success-outline">Crear habitación</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
