<div class="with-iconav">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Save Me Money Please</h6>
        <h2 class="dashhead-title">Historial Actuadores</h2>
      </div>

    </div>

    <div class="flextable table-actions">
      <div class="flextable-item flextable-primary">
        <div class="btn-toolbar-item input-with-icon">
          <!-- <input type="text" class="form-control input-block" placeholder="Buscar historial">
          <span class="icon icon-magnifying-glass"></span> -->
        </div>
      </div>
      <div class="flextable-item">
        <div class="btn-group">
          <button type="button" class="btn btn-primary-outline">
            <span>Sensores</span>
          </button>
          <button type="button" class="btn btn-primary">
            <span>Actuadores</span>
          </button>
        </div>
      </div>
    </div>

    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
          <tr>
            <th># Dispositivo</th>
            <th>Nombre Dispositivo</th>
            <th>Tipo</th>
            <th>Descripción Evento</th>
            <th>Fecha</th>
            <th>Estatus</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="#">#10001</a></td>
            <td>Luz 1</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10002</a></td>
            <td>Calentador 1</td>
            <td>Calefaccion</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10003</a></td>
            <td>Luz 2</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10004</a></td>
            <td>Luz 3</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10005</a></td>
            <td>Luz 4</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10006</a></td>
            <td>Luz 5</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10007</a></td>
            <td>Luz 6</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10008</a></td>
            <td>Luz 7</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10009</a></td>
            <td>Luz 8</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10010</a></td>
            <td>Luz 9</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10011</a></td>
            <td>Luz 10</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10012</a></td>
            <td>Calentador 2</td>
            <td>Calefaccion</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10013</a></td>
            <td>Luz 11</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10014</a></td>
            <td>Luz 12</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10015</a></td>
            <td>Luz 15</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10016</a></td>
            <td>Luz 13</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10017</a></td>
            <td>Aire acondicionado 1</td>
            <td>Aire Acondicionado</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
          </tr>
          <tr>
            <td><a href="#">#10018</a></td>
            <td>Luz 14</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10019</a></td>
            <td>Luz 15</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
          </tr>
          <tr>
            <td><a href="#">#10020</a></td>
            <td>Luz 16</td>
            <td>Luces</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Apagado</td>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
