 <nav class="iconav">
  <a class="iconav-brand" href="index.html">
    <span class="icon icon-leaf iconav-brand-icon"></span>
  </a>
  <div class="iconav-slider">
    <ul class="nav nav-pills iconav-nav">
      <li class="active">
        <a routerLink="../home" title="Menu" data-toggle="tooltip" data-placement="right" data-container="body">
          <span class="icon icon-home"></span>
          <small class="iconav-nav-label visible-xs-block">Menu</small>
        </a>
      </li>
      <li >
        <a routerLink="../history" title="Historial" data-toggle="tooltip" data-placement="right" data-container="body">
          <span class="icon icon-text-document"></span>
          <small class="iconav-nav-label visible-xs-block">Historial</small>
        </a>
      </li>
      <li >
        <a routerLink="../state" title="Estado" data-toggle="tooltip" data-placement="right" data-container="body">
          <span class="icon icon-battery"></span>
          <small class="iconav-nav-label visible-xs-block">Estado del sistema</small>
        </a>
      </li>
      <li>
        <a routerLink="../statesensor" title="Cambiar Estado" data-toggle="tooltip" data-placement="right" data-container="body" style="border-bottom: 1px solid #252830;">
          <span class="icon icon-sound-mix"></span>
          <small class="iconav-nav-label visible-xs-block">Cambiar Estado</small>
        </a>
      </li>
      <li>
        <a routerLink="../login" title="Cerrar Sesión" data-toggle="tooltip" data-placement="right" data-container="body" style="border-bottom: 1px solid #252830; margin-top: 80px;">
          <span class="icon icon-block"></span>
          <small class="iconav-nav-label visible-xs-block">Cerrar Sesión</small>
        </a>
      </li>
    </ul>
  </div>
</nav>
