<app-sidebar></app-sidebar>
<div class="container">
  <!--- Dispositivos activados -->
  <div>
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Save Me Money Please</h6>
        <h2 class="dashhead-title">Dispositivos activados</h2>
      </div>

      <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item input-with-icon">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
        </div>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
          <tr>
            <th># Dispositivo</th>
            <th>Nombre Dispositivo</th>
            <th>Edificio</th>
            <th>Habitación</th>
            <th>Estatus</th>
            <th>Desactivar</th>
          </tr>
          </thead>
          <tbody>
          <tr>

            <td><a href="#">#10001</a></td>
            <td>Luz 1</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10002</a></td>
            <td>Luz 2</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10003</a></td>
            <td>Luz 3</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10004</a></td>
            <td>Luz 4</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10005</a></td>
            <td>Luz 5</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10006</a></td>
            <td>Luz 6</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10007</a></td>
            <td>Luz 7</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10008</a></td>
            <td>Luz 8</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10009</a></td>
            <td>Luz 9</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10010</a></td>
            <td>Luz 10</td>
            <td>Descripcion</td>
            <td>Habitación 1</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--- Dispositivos desactivados -->
  <div>
    <div class="dashhead">
      <div class="dashhead-titles">
        <h2 class="dashhead-title">Dispositivos desactivados</h2>
      </div>

      <div class="btn-toolbar dashhead-toolbar">
        <div class="btn-toolbar-item input-with-icon">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
        </div>
      </div>
    </div>
    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
          <tr>
            <th># Dispositivo</th>
            <th>Nombre Dispositivo</th>
            <th>Edificio</th>
            <th>Habitación</th>
            <th>Estatus</th>
            <th>Activar</th>
          </tr>
          </thead>
          <tbody>
          <tr>

            <td><a href="#">#10001</a></td>
            <td>Luz 1</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10002</a></td>
            <td>Luz 2</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10003</a></td>
            <td>Luz 3</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10004</a></td>
            <td>Luz 4</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10005</a></td>
            <td>Luz 5</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10006</a></td>
            <td>Luz 6</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10007</a></td>
            <td>Luz 7</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10008</a></td>
            <td>Luz 8</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10009</a></td>
            <td>Luz 9</td>
            <td>Descripcion</td>
            <td>01/01/2015</td>
            <td>Encendido</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          <tr>

            <td><a href="#">#10010</a></td>
            <td>Luz 10</td>
            <td>Descripcion</td>
            <td>01/02/2015</td>
            <td>Apagado</td>
            <td> <span class="icon icon-switch"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

