  <div class="with-iconav">
  <app-sidebar></app-sidebar>
  <div class="container">
    <!--- Dispositivos activados -->
    <div>
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Save Me Money Please</h6>
          <h2 class="dashhead-title">Dispositivos activados</h2>
        </div>

      </div>
      <div class="table-full">
        <div class="table-responsive">
          <table class="table" data-sort="table">
            <thead>
            <tr>
              <th># Dispositivo</th>
              <th>Nombre Dispositivo</th>
              <th>Edificio</th>
              <th>Habitación</th>
              <th>Desactivar</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let actuatorA of actuatorsA">
              <tr *ngIf="actuatorA.estado">
                <td>{{actuatorA.id }}</td>
                <td>{{ actuatorA.nombre }}</td>
                <td>{{ actuatorA.descripcion }}</td>
                <td>{{ actuatorA.ubicacionC }} {{ actuatorA.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorA(actuatorA.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>

              </tr>
            </ng-container>
            <ng-container *ngFor="let actuatorC of actuatorsC">
              <tr *ngIf="actuatorC.estado">
                <td>{{actuatorC.id }}</td>
                <td>{{ actuatorC.nombre }}</td>
                <td>{{ actuatorC.descripcion }}</td>
                <td>{{ actuatorC.ubicacionC }} {{ actuatorC.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorC(actuatorC.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let actuatorF of actuatorsF">
              <tr *ngIf="actuatorF.estado">
                <td>{{actuatorF.id }}</td>
                <td>{{ actuatorF.nombre }}</td>
                <td>{{ actuatorF.descripcion }}</td>
                <td>{{ actuatorF.ubicacionC }} {{ actuatorF.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorF(actuatorF.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorC of sensorsC">
              <tr *ngIf="sensorC.estado">
                <td>{{sensorC.id }}</td>
                <td>{{ sensorC.nombre }}</td>
                <td>{{ sensorC.descripcion }}</td>
                <td>{{ sensorC.ubicacionC }} {{ sensorC.ubicacionE}}</td>
                <td> <button on-click="deleteSensorC(sensorC.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorM of sensorsM">
              <tr *ngIf="sensorM.estado">
                <td>{{sensorM.id }}</td>
                <td>{{ sensorM.nombre }}</td>
                <td>{{ sensorM.descripcion }}</td>
                <td>{{ sensorM.ubicacionC }} {{ sensorM.ubicacionE}}</td>
                <td> <button on-click="deleteSensorM(sensorM.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorL of sensorsL">
              <tr *ngIf="sensorL.estado">
                <td>{{sensorL.id }}</td>
                <td>{{ sensorL.nombre }}</td>
                <td>{{ sensorL.descripcion }}</td>
                <td>{{ sensorL.ubicacionC }} {{ sensorL.ubicacionE}}</td>
                <td> <button on-click="deleteSensorL(sensorL.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorT of sensorsT">
              <tr *ngIf="sensorT.estado">
                <td>{{sensorT.id }}</td>
                <td>{{ sensorT.nombre }}</td>
                <td>{{ sensorT.descripcion }}</td>
                <td>{{ sensorT.ubicacionC }} {{ sensorT.ubicacionE}}</td>
                <td> <button on-click="deleteSensorT(sensorT.id,false)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>



            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--- Dispositivos desactivados -->
    <div>
      <div class="dashhead">
        <div class="dashhead-titles">
          <h2 class="dashhead-title">Dispositivos desactivados</h2>
        </div>

      </div>
      <div class="table-full">
        <div class="table-responsive">
          <table class="table" data-sort="table">
            <thead>
            <tr>
              <th># Dispositivo</th>
              <th>Nombre Dispositivo</th>
              <th>Edificio</th>
              <th>Habitación</th>
              <th>Activar</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let actuatorA of actuatorsA">
              <tr *ngIf="!actuatorA.estado">
                <td>{{actuatorA.id }}</td>
                <td>{{ actuatorA.nombre }}</td>
                <td>{{ actuatorA.descripcion }}</td>
                <td>{{ actuatorA.ubicacionC }} {{ actuatorA.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorA(actuatorA.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let actuatorC of actuatorsC">
              <tr *ngIf="!actuatorC.estado">
                <td>{{actuatorC.id }}</td>
                <td>{{ actuatorC.nombre }}</td>
                <td>{{ actuatorC.descripcion }}</td>
                <td>{{ actuatorC.ubicacionC }} {{ actuatorC.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorC(actuatorC.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let actuatorF of actuatorsF">
              <tr *ngIf="!actuatorF.estado">
                <td>{{actuatorF.id }}</td>
                <td>{{ actuatorF.nombre }}</td>
                <td>{{ actuatorF.descripcion }}</td>
                <td>{{ actuatorF.ubicacionC }} {{ actuatorF.ubicacionE}}</td>
                <td> <button on-click="deleteActuatorF(actuatorF.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorC of sensorsC">
              <tr *ngIf="!sensorC.estado">
                <td>{{sensorC.id }}</td>
                <td>{{ sensorC.nombre }}</td>
                <td>{{ sensorC.descripcion }}</td>
                <td>{{ sensorC.ubicacionC }} {{ sensorC.ubicacionE}}</td>
                <td> <button on-click="deleteSensorC(sensorC.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorM of sensorsM">
              <tr *ngIf="!sensorM.estado">
                <td>{{sensorM.id }}</td>
                <td>{{ sensorM.nombre }}</td>
                <td>{{ sensorM.descripcion }}</td>
                <td>{{ sensorM.ubicacionC }} {{ sensorM.ubicacionE}}</td>
                <td> <button on-click="deleteSensorM(sensorM.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorL of sensorsL">
              <tr *ngIf="!sensorL.estado">
                <td>{{sensorL.id }}</td>
                <td>{{ sensorL.nombre }}</td>
                <td>{{ sensorL.descripcion }}</td>
                <td>{{ sensorL.ubicacionC }} {{ sensorL.ubicacionE}}</td>
                <td> <button on-click="deleteSensorL(sensorL.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let sensorT of sensorsT">
              <tr *ngIf="!sensorT.estado">
                <td>{{sensorT.id }}</td>
                <td>{{ sensorT.nombre }}</td>
                <td>{{ sensorT.descripcion }}</td>
                <td>{{ sensorT.ubicacionC }} {{ sensorT.ubicacionE}}</td>
                <td> <button on-click="deleteSensorT(sensorT.id,true)" class="btn btn-success-outline"><span class="icon icon-switch"></span></button></td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
