<div class="with-iconav">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Save Me Money Please</h6>
        <h3 class="dashhead-title">Menu</h3>
      </div>
    </div>

    <ul class="nav nav-bordered m-t m-b-0" role="tablist">
      <li class="active" role="presentation">
        <a href="#sensors" role="tab" data-toggle="tab" aria-controls="traffic">Sensores</a>
      </li>
      <!--<li role="presentation">
        <a href="#watts" role="tab" data-toggle="tab" aria-controls="sales">Watts/hr</a>
      </li>-->
      <li role="presentation">
        <a href="#alta" role="tab" data-toggle="tab" aria-controls="alta">Crear dispositivos</a>
      </li>
    </ul>

    <hr class="m-t-0 m-b-lg">

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="sensors">
        <div class="row text-center m-t-md">
          <div class="col-sm-4 m-b-md">
            <div class="w-lg m-x-auto">
              <canvas
                class="ex-graph"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 230, color: '#42a5f5', label: 'Encendidos' }, { value: 130, color: '#1bc98e', label: 'Apagados' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="text-muted">Apagados vs Encendidos</strong>
            <h3>Luces</h3>
          </div>
          <div class="col-sm-4 m-b-md">
            <div class="w-lg m-x-auto">
              <canvas
                class="ex-graph"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 330, color: '#42a5f5', label: 'Encendidos' }, { value: 30, color: '#1bc98e', label: 'Apagados' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="text-muted">Apagados vs Encendidos</strong>
            <h3>Enchufes</h3>
          </div>
          <div class="col-sm-4 m-b-md">
            <div class="w-lg m-x-auto">
              <canvas
                class="ex-graph"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 100, color: '#42a5f5', label: 'Encendidos' }, { value: 260, color: '#1bc98e', label: 'Apagados' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="text-muted">Apagados vs Encendidos</strong>
            <h3>Sistemas de Calefacción</h3>
          </div>
        </div>
      </div>

      <!--<div role="tabpanel" class="tab-pane" id="watts">
        <div class="ex-line-graphs m-b-md">
          <canvas
            class="ex-line-graph"
            width="600" height="400"
            data-chart="line"
            data-scale-line-color="transparent"
            data-scale-grid-line-color="rgba(255,255,255,.05)"
            data-scale-font-color="#a2a2a2"
            data-labels="['','Aug 29','','','Sept 5','','','Sept 12','','','Sept 19','']"
            data-value="[{data: [2500, 3300, 2512, 2775, 2498, 3512, 2925, 4275, 3507, 3825, 3445, 3985]}]">
          </canvas>
        </div>
      </div>-->

      <div role="tabpanel" class="tab-pane" id="alta">
        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <h2>Alta de dispositivos</h2>
          </div>
        </div>
        <div class= "row">
          <div class="col-sm-4 col-lg-4" >
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <h3>Sensores</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <a routerLink="../sensorC" class="btn btn-primary btn-add">Dar de alta un sensor calor</a>
                <a routerLink="../sensorM" class="btn btn-primary btn-add">Dar de alta un sensor movimiento</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4" >
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <h3>Actuadores</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <a routerLink="../actuatorA" class="btn btn-success btn-add">Dar de alta un actuador aire</a>
                <a routerLink="../actuatorC" class="btn btn-success btn-add">Dar de alta un actuador conector</a>
                <a routerLink="../actuatorF" class="btn btn-success btn-add">Dar de alta un actuador foco</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4" >
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <h3>Otros</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <a  class="btn btn-info btn-add" routerLink="../room">Dar de alta una habitación</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="hr-divider m-t m-b">
      <h3 class="hr-divider-content hr-divider-heading">Estadísticas Rápidas</h3>
    </div>

    <div class="row statcards">
      <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-success">
          <div class="p-a">
            <span class="statcard-desc">Energía Ahorrada</span>
            <h2 class="statcard-number">
              12,938
              <small class="delta-indicator delta-positive">5%</small>
            </h2>
            <hr class="statcard-hr m-b-0">
          </div>
          <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-danger">
          <div class="p-a">
            <span class="statcard-desc">Luz Utilizada</span>
            <h2 class="statcard-number">
              758
              <small class="delta-indicator delta-negative">1.3%</small>
            </h2>
            <hr class="statcard-hr m-b-0">
          </div>
          <canvas id="sparkline2" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-info">
          <div class="p-a">
            <span class="statcard-desc">Otro</span>
            <h2 class="statcard-number">
              1,293
              <small class="delta-indicator delta-positive">6.75%</small>
            </h2>
            <hr class="statcard-hr m-b-0">
          </div>
          <canvas id="sparkline3" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 m-b">
        <div class="statcard statcard-warning">
          <div class="p-a">
            <span class="statcard-desc">Uso Calefacción</span>
            <h2 class="statcard-number">
              758
              <small class="delta-indicator delta-negative">1.3%</small>
            </h2>
            <hr class="statcard-hr m-b-0">
          </div>
          <canvas id="sparkline4" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[43,48,52,58,50,95,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
        </div>
      </div>
    </div>

    <hr class="m-t-0 m-b-md">

    <div class="row">
      <div class="col-md-4 m-b-md">
        <div class="list-group">
          <h4 class="list-group-header">
            Cuartos
          </h4>

          <a *ngFor="let room of rooms" class="list-group-item">
            <span class="pull-right text-muted">{{room.maxconsumoEnergia}}</span>
            {{room.nombre}}
          </a>

        </div>
      </div>

      <div class="col-md-4 m-b-md">
        <div class="list-group">
          <h4 class="list-group-header">
            Actuadores
          </h4>

          <a *ngFor="let actuatorA of actuatorsA" class="list-group-item">
            <span class="pull-right text-muted">{{ actuatorA.consumoEnergia }}</span>
            {{ actuatorA.nombre }}
          </a>
          <a *ngFor="let actuatorC of actuatorsC" class="list-group-item">
            <span class="pull-right text-muted">{{ actuatorC.consumoEnergia }}</span>
            {{ actuatorC.nombre }}
          </a>
          <a *ngFor="let actuatorF of actuatorsF" class="list-group-item">
            <span class="pull-right text-muted">{{ actuatorF.consumoEnergia }}</span>
            {{ actuatorF.nombre }}
          </a>

        </div>
      </div>
      <div class="col-md-4 m-b-md">
        <div class="list-group">
          <h4 class="list-group-header">
            Sensores
          </h4>

          <a *ngFor="let sensorC of sensorsC" class="list-group-item">
            <span class="pull-right text-muted">{{ sensorC.energia }}</span>
            {{ sensorC.nombre }}
          </a>

          <a *ngFor="let sensorM of sensorsM" class="list-group-item">
            <span class="pull-right text-muted">{{ sensorM.energia }}</span>
            {{ sensorM.nombre }}
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
