  <div class="with-iconav">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Save Me Money Please</h6>
        <h2 class="dashhead-title">Sensores/ Actuadores</h2>
      </div>

    </div>


    <div class="table-full">
      <div class="table-responsive">
        <table class="table" data-sort="table">
          <thead>
          <tr>
            <th># Dispositivo</th>
            <th>Nombre Dispositivo</th>
            <th>Habitación</th>
            <th>Estatus</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let actuatorA of actuatorsA">
            <td>{{actuatorA.id}}</td>
            <td>{{actuatorA.nombre}}</td>
            <td>{{ actuatorA.ubicacionC }}</td>
            <td>{{ actuatorA.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
             <button on-click="deleteActuatorA(actuatorA.id)" class="btn btn-danger-outline">
               <span class="icon icon-erase"></span>
             </button>

            </div></td>
          </tr>

          <tr *ngFor="let actuatorC of actuatorsC">
            <td>{{actuatorC.id}}</td>
            <td>{{actuatorC.nombre}}</td>
            <td>{{ actuatorC.ubicacionC }}</td>
            <td>{{ actuatorC.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteActuatorC(actuatorC.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>

          <tr *ngFor="let actuatorF of actuatorsF">
            <td>{{actuatorF.id}}</td>
            <td>{{actuatorF.nombre}}</td>
            <td>{{ actuatorF.ubicacionC }}</td>
            <td>{{ actuatorF.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteActuatorF(actuatorF.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>

          <tr *ngFor="let sensorC of sensorsC">
            <td>{{sensorC.id}}</td>
            <td>{{sensorC.nombre}}</td>
            <td>{{ sensorC.ubicacionC }}</td>
            <td>{{ sensorC.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteSensorL(sensorC.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>

          <tr *ngFor="let sensorL of sensorsL">
            <td>{{sensorL.id}}</td>
            <td>{{sensorL.nombre}}</td>
            <td>{{ sensorL.ubicacionC }}</td>
            <td>{{ sensorL.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteSensorL(sensorL.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>

          <tr *ngFor="let sensorM of sensorsM">
            <td>{{sensorM.id}}</td>
            <td>{{sensorM.nombre}}</td>
            <td>{{ sensorM.ubicacionC }}</td>
            <td>{{ sensorM.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteSensorM(sensorM.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>
          <tr *ngFor="let sensorT of sensorsT">
            <td>{{sensorT.id}}</td>
            <td>{{sensorT.nombre}}</td>
            <td>{{ sensorT.ubicacionC }}</td>
            <td>{{ sensorT.estado }}</td>
            <td>  <div class="btn-group">
              <button type="button" class="btn btn-primary-outline">
                <span class="icon icon-pencil"></span>
              </button>
              <button on-click="deleteSensorT(sensorT.id)" class="btn btn-danger-outline">
                <span class="icon icon-erase"></span>
              </button>
            </div></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
